@import url("burgerstyle.css");
:root {
    --main-orrange: #E77817;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.buttons {
    height: 45px;
    width: 180px;
    font-weight: 500;
    font-size: 15px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    background: linear-gradient(180deg, #EA9D58 0%, var(--main-orrange) 100%);
    box-shadow: 0px 2px 0px #C1691B;
    border-radius: 6px;
    border: none;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 130px;
}
h1 {
    font-weight: 500;
    font-size: 34.6955px;
    line-height: 150%;
    text-transform: uppercase;
}
h2 {
    font-weight: 400;
    font-size: 17.6981px;
    line-height: 150%;
    text-transform: uppercase;
    color: #474747;
}
h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 41px;
    text-transform: uppercase;
    color: #000000;
}
h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
p {
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #333333;
}
.headerContainer {
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
}
.headerContainer .siteName {
    display: flex;
    flex-direction: column;
    margin-right: 13px;
}
.headerContainer .adres-socials {
    display: flex;
    flex-direction: column;
}
.headerContainer .adres-socials .adres {
    display: flex;
    align-items: center;
}
.headerContainer .adres-socials .socials {
    display: flex;
    align-items: center;
    margin-top: 23px;
    margin-left: 30px;
    gap: 7px;
}
.headerContainer .phone-requestCallButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.headerContainer .phone-requestCallButton .phone-mail {
    display: flex;
    align-items: flex-start;
}
.headerContainer .phone-requestCallButton .phone-mailContainer {
    display: flex;
    flex-direction: column;
}
.headerContainer .phone-requestCallButton .phone {
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.7px;
}
.headerContainer .phone-requestCallButton .mail {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #5F5F5F;
    
}
.headerContainer .phone-requestCallButton .requestCallButton {
    margin-top: 10px;
}
.headerContainer .headerSocialsPhoneContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header .navbar-container {
    max-width: 1170px;
    width: 100%;
    margin-top: 11px;
    list-style-type: none;
}
header .navbar-container a {
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
header .navbar-container a:active {
    color: #000;
}
header nav {
    display: flex;
    justify-content: flex-start;
    gap: 134px;
}
header nav .selected {
    color: var(--main-orrange);
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainWrapper {
    max-width: 1180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefits {
    margin-top: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.benefits .mainWrapper {
    flex-direction: row;
    justify-content: space-between;
}
.benefits-img {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}
.benefits-img .sliderImage {
    width: 100%;
}
.benefits .arrows {
    max-width: 628px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 4vw;
}
.benefits .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.benefits .benefits-list .benefits-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.benefits .benefits-list span {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    background: #EFEFEF;
    width: 333px;
    height: 61px;    
    margin-left: 25px;
    padding-top: 19px;
    padding-left: 21px;
}
.benefits .calculateButton {
    background-color: var(--main-orrange);
    border-radius: 10px;
    width: 230px;
    height: 78px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    right: 130px;
    bottom: 160px;
}
.benefits .calculateButton img {
    padding-left: 29px;
}
.benefits .calculateButton span {
    padding-left: 13px;
}
.ourWorks {
    margin-top: 67px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.ourWorks .mainWrapper {
    align-items: flex-start;
}
.ourWorks .ourWorksList {
    margin-top: 19px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ourWorks .ourWorksList .ourWorksList-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourWorks .ourWorksList .ourWorksList-item img {
    margin-top: 20px;
}
.testHeader {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.testHeader h3 {
    text-align: center;
}
.testHeader .textContainer {
    margin-top: 37px;
    display: flex;
    justify-content: center;
}
footer {
    margin-top: 105px;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .mainWrapper {
    align-items: flex-start;
}
footer h1 {
    font-size: 20.6478px;
}
footer h2 {
    font-size: 17.6981px;
}
footer .footerLogoContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
footer .footerLogoContainer .siteName {
    margin-left: 30px;
}
footer .footerContactsContainer {
    display: flex;
    justify-content: center;
}
footer .footerContactsContainer .adres-socials {
    margin-right: 17px;
}
footer .footerCompanyLogo {
    margin-top: 6px;
}
@media (max-width: 1100px) {
    h1 {
        font-size: 1.5em;
        text-align: center;
    }
    h2 {
        font-size: 1em;
        text-align: center;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.3em;
    }
    p {
        font-size: 1em;
    }
}
@media (max-width: 1150px) {
    .benefits-item span {
        width: 100% !important;
    }
}
@media (max-width: 1080px) {
    .ourWorks .mainWrapper {
        align-items: center;
    }
    .ourWorks .ourWorksList-item {
        width: 50%;
    }
}
@media (max-width: 952px) {
    .benefits .mainWrapper {
        flex-direction: column;
    }
    .benefits .benefits-list {
        margin-top: 20px;
    }
}
@media (max-width: 740px) {
    #menu {
        display: block !important;
    }
    header .navbar-container {
        display: none;
    }
    .benefits {
        margin-top: 20px;
    }
    footer .footerContactsContainer {
        flex-wrap: wrap;
    }
    p {
        padding: 0 40px;
    }
}
@media (max-width: 600px) {
    header .headerContainer, footer .headerContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 540px) {
    .ourWorks .ourWorksList-item, .ourWorks .ourWorksList-item img {
        width: 100%;
    }
}
@media (max-width: 452px) {
    header .socials, footer .socials {
        margin-left: 0 !important;
        justify-content: center;
        margin-bottom: 20px;
    }
}