* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.templateSection {
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.templateSection .mainWrapper {
    align-items: flex-start;
}